                                  ### Agenda
Agenda :- Pandas Basics , Data Frames and Series

Pandas :- It is the library for working with structured data . Built on top of numpy

Series :- 1D Labelled array 
Data Frames :- 2D Labelled array

1D :- Represent a single sequence or list of element 
2D :- Represent a collection or list of elements in organised manner in grid like manner

### 1D Labelled array

In [1]:
import pandas as pd 
### create a series from a list 

marks = pd.Series([90,80,70,60,50])
print(marks)

0    90
1    80
2    70
3    60
4    50
dtype: int64

### adding custom index

In [3]:
marks = pd.Series([90,80,70,60,50], index=['Ankit', 'Amit', 'Chirag', 'Deepak', 'Isha'])
print("Series with custom index :\n", marks)

Series with custom index :
 Ankit     90
Amit      80
Chirag    70
Deepak    60
Isha      50
dtype: int64

### accessing element

In [7]:
print("Marks of Ankit :", marks['Ankit'])
print("Marks of Chirag :", marks['Chirag'])
print("Marks of Isha :", marks['Isha'])
print("Marks of Amit :", marks['Amit'])
print("Marks of Deepak :", marks['Deepak'])

Marks of Ankit : 90
Marks of Chirag : 70
Marks of Isha : 50
Marks of Amit : 80
Marks of Deepak : 60

In [16]:
print("Index of 90 marks: ", marks[marks==90].index[0])
# print("Index of 80 marks:" ,marks[marks==80].index[1])

Index of 90 marks:  Ankit

### useful Methods

In [17]:
print("Max marks: ",marks.max())
print("Min marks: ",marks.min())
print("Mean marks: ",marks.mean())
print("Median marks: ",marks.median())
print("Summary of marks:\n ",marks.describe())

Max marks:  90
Min marks:  50
Mean marks:  70.0
Median marks:  70.0
Summary of marks:
  count     5.000000
mean     70.000000
std      15.811388
min      50.000000
25%      60.000000
50%      70.000000
75%      80.000000
max      90.000000
dtype: float64

### DataFrame - 2D Data

In [25]:
data = {
    'name' : ['Ankit Kandwal', 'Alice whiteman', 'Chris Lewis', 'James Jacob', 'John Smith'],
    'age' : [21, 22, 23, 24, 25],
    'rollNo': [12, 12, 12, 12, 12],
    'city' : ['Los Angeles', 'San Jose', 'Chicago', 'Houston', 'Miami'],
    'marks' : [98, 85, 90, 88, 92]
}
df = pd.DataFrame(data)
print("DataFrame :\n" , df)

DataFrame :
              name  age  rollNo         city  marks
0   Ankit Kandwal   21      12  Los Angeles     98
1  Alice whiteman   22      12     San Jose     85
2     Chris Lewis   23      12      Chicago     90
3     James Jacob   24      12      Houston     88
4      John Smith   25      12        Miami     92

In [31]:
### Access a column 
print("Marks column :\n ", df['marks'])
print()
print("Name column :\n", df['name'])
print()
print("City column :\n", df['city'])
print()
print("Age column :\n", df['age'])

Marks column :
  0    98
1    85
2    90
3    88
4    92
Name: marks, dtype: int64

Name column :
 0     Ankit Kandwal
1    Alice whiteman
2       Chris Lewis
3       James Jacob
4        John Smith
Name: name, dtype: object

City column :
 0    Los Angeles
1       San Jose
2        Chicago
3        Houston
4          Miami
Name: city, dtype: object

Age column :
 0    21
1    22
2    23
3    24
4    25
Name: age, dtype: int64

In [33]:
### Accessing multiple columns
print("Name and City columns :\n", df[['name', 'city']])

Name and City columns :
              name         city
0   Ankit Kandwal  Los Angeles
1  Alice whiteman     San Jose
2     Chris Lewis      Chicago
3     James Jacob      Houston
4      John Smith        Miami

### Loc and Iloc 

loc :- accessing by label 
iloc :- accessing by position

In [ ]:
### By loc 

print("Row with label at 2:\n" , df.loc[0])
print()
print("Row with label at 4:\n" , df.loc[4])
print()
print("Row with label at 1:\n" , df.loc[1])
print()
print("Row with label at 3:\n" , df.loc[3])
print()
print("Row with label at 2 and 4:\n" , df.loc[[2]])

Row with label at 2:
 name      Ankit Kandwal
age                  21
rollNo               12
city        Los Angeles
marks                98
Name: 0, dtype: object

Row with label at 4:
 name      John Smith
age               25
rollNo            12
city           Miami
marks             92
Name: 4, dtype: object

Row with label at 1:
 name      Alice whiteman
age                   22
rollNo                12
city            San Jose
marks                 85
Name: 1, dtype: object

Row with label at 3:
 name      James Jacob
age                24
rollNo             12
city          Houston
marks              88
Name: 3, dtype: object

Row with label at 2 and 4:
           name  age  rollNo     city  marks
2  Chris Lewis   23      12  Chicago     90

In [38]:
### By iloc 
print("Row at position 2:\n" , df.iloc[2])

Row at position 2:
 name      Chris Lewis
age                23
rollNo             12
city          Chicago
marks              90
Name: 2, dtype: object

### Loading Dataset

In [46]:
iris = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')
print("First Five rows of iris dataset :\n", iris.head())

# Shape of dataset
print("\nShape of iris dataset: ", iris.shape)
# Columns in dataset
print("\nColumns in iris dataset: ", iris.columns)
# Summary of dataset

print("\n Summary of iris dataset :",iris.describe())

First Five rows of iris dataset :
    sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

Shape of iris dataset:  (150, 5)

Columns in iris dataset:  Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

 Summary of iris dataset :        sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000